
{% extends 'base.html' %}

{% block content %}



<div class='container mt-5'>
          
    <form class='col-6 mx-auto card p-3 shadow-lg' method='post' enctype='multipart/form-data'>
        {% csrf_token %}
        <h2>details</h2>
        <hr>
        
        {% comment %} {% if messages %}
        <div class="alert alert-primary" role="alert">        
                  
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        
    </div>
    {% endif %} {% endcomment %}


          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">disease description</label>
            <input type="text" class="form-control" name='disease_description' id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        


            
            <button type="submit" class="btn btn-primary">Submit</button>
          
    </form>


    

      

      
  

      
</div>
        
{% endblock %}