
{% extends 'base.html' %}

{% block content %}







        


<table class="table">
    <thead>
      <tr>
        <th scope="col">sr. no.</th>
        <th scope="col">id</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>


    {% for ele in user_data %}
        
        
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ele.patient_id}}</td>
        <td><a href="{% url 'confirmAppointment' ele.patient_id ele.doctor_id %}" class='btn btn-success'>confirm appointment</a></td>
      </tr>

    {% endfor %}
    </tbody>
  </table>
  {% comment %} <a href="{% url 'doctorAppointment' doctor_id %}" class='btn btn-success'>see</a> {% endcomment %}
        
{% endblock %}