{% extends "base.html" %}
{% block content %}

<form class='col-6 mx-auto card p-3 shadow-lg' method='post' enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">date</label>
      <input type="date" class="form-control" name='contact_date' id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">time</label>
      <input type="time" class="form-control" name='contact_time' id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock content %}