
{% extends 'base.html' %}

{% block content %}


{% for ele in data %}
       
<a href='/show_doctor/{{ele.pat_id}}' class='btn btn-success'>get appointment</a>

{% endfor %} 
<table class="table">
    <thead>
      <tr>
        <th scope="col">sr. no.</th>
        <th scope="col">document name</th>
        <th scope="col">document description</th>
        <th scope="col">image</th>
      </tr>
    </thead>
    <tbody>
        {% for ele in data %}
        
        
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ele.docs_name}}</td>
        <td>{{ele.docs_desc}}</td>
        <td><img src="/media/{{ele.docs_image}}" style="height:100px;width:100px;"></td>
        

      {% endfor %}
    </tbody>
  </table>
  <
        
{% endblock %}