
{% extends 'base.html' %}

{% block content %}






<div class='container mt-5'>
          
    <form method='post' enctype='multipart/form-data'>
        {% csrf_token %}
      

          <div class="mb-3">
            <input type="text" class="form-control" name='search' id="exampleInputEmail1" placeholder="search" aria-describedby="emailHelp">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
  
            
            
          
    </form>       
</div>

<a href="{% url 'doctorAppointment' doctor_id %}" class='btn btn-success'>my appointment</a>
        


<table class="table">
    <thead>
      <tr>
        <th scope="col">sr. no.</th>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">age</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
        {% for ele in data %}
        
        
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ele.patient_id}}</td>
        <td>{{ele.patient_name}}</td>
        <td>{{ele.patient_age}}</td>
        <td><a href='/add_doc/{{ele.patient_id}}' class='btn btn-success'>add</a>
            <br>
            <br>
            <a href="{% url 'showDoc' ele.patient_id doctor_id %}" class='btn btn-success'>see</a>
      </tr></td>

      {% endfor %}
    </tbody>
  </table>
 
        
{% endblock %}